numpy
torch
matplotlib
scipy
tqdm
pillow
transformers
torchvision
viser
pandas
tensorboard
opencv-python
pyquaternion
trimesh
pytorch3d
requests
rich
tensorflow
tensorflow_probability
nerfstudio
git+https://github.com/openai/CLIP.git